#login{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

#formulario {
    background-color: rgb(41, 45, 104);
    color: white;
}

#bingresar{
    background-color: rgb(231, 158, 22);
}

#bregistrarse{
    background-color: rgb(231, 158, 22);
}